* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5faf6;
}
header {
  padding: 1ch 5ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-top-left-radius: 20px;
}
.logo {
  width: 60px;
  height: auto;
}
header i {
  font-size: 1.5rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main p {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  width: 10ch;
  text-align: center;
  margin: 3.5ch;
}
main img{
    filter: grayscale(100);
    transform: scaleX(-1);
}
